#report_table {
    display: flex;
    padding: 1rem 2rem;
}

#files_download {
    display: flex;
    padding: 1rem 2rem;
}


#files_download button {
    background-color: #FFFFFF;
    border: 2px solid #4F4F4F;
    border-radius: 4px;
    color: #696969;
    padding: 0.5rem;
    font-size: 1.3rem;
    align-items: right;
    margin-right: 20px;
    cursor: pointer;
    transition: .4s;
  }

#files_download button:hover {
    background-color: transparent;
    color: #696969;
  }

#report_table {
    align-items: center;
    padding: 1rem 2rem;
}

#report_table table{
    align-self: center;
    padding: 1rem 2rem;
    background: #FFFFFF;
    width: 30%;
}